<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cura Patient Management System</title>

    <link rel="stylesheet" href="/main.css">
</head>
<body>

    <section class="main-container">
        <header>
            <h1>Cura Patient Management System</h1>
        </header>
    
        <section class="container formContainer">
            <h2>Patient Information</h2>
            <!-- <form action="/addPatients" class="addPatientForm" method="POST">
                    <label for="firstName">First Name<span class="required"></label>
                    <input type="text" name="firstName" required>
                    <label for="lastName">Last Name<span class="required"></label>
                    <input type="text" name="lastName" required>
                    <label for="dateOfbirth">Date of Birth</label>
                    <input type="date" name="dateOfbirth" required>
                    <button type="submit" id="addPatient"><i class="fa-solid fa-plus"></i>Add patient</button>
            </form> -->
        </section>

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/9f6d244e8f.js" crossorigin="anonymous"></script>
    <!-- Connect main.js -->
    <script src="/main.js"></script>
</body>
</html>