<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cura Patient Management System</title>

    <link rel="stylesheet" href="/main.css">
</head>
<body>

    <section class="main-container">
        <header>
            <h1>Cura Patient Management System</h1>
        </header>
    
        <section class="container formContainer">
            <p><a href="">Home</a> > </p>
            <h2>Patient Information</h2>    

            <form class="general-form editPatientForm">
                <label for="firstName">Patient ID<span class="required"></label>
                <input disabled type="text" name="patientID" id="patientID" required placeholder= <%= patient.patientID %>>
                <label for="firstName">First Name<span class="required"></label>
                <input disabled type="text" name="firstName" id="patientFirstName" required placeholder= <%= patient.firstName %>>
                <label for="lastName">Last Name<span class="required"></label>
                <input disabled type="text" name="lastName" id="patientLastName" required placeholder= <%= patient.lastName %>>
                <label for="dateOfbirth">Date of Birth</label>
                <input disabled type="date" name="dateOfbirth" id="patientDOBName" required value= <%= patient.dateOfbirth %>>
                <section class="button-container">
                    <button type="button" id="saveChanges" class="main-action-button">Save Changes</button>
                    <button type="button" id="editPatient" class="main-action-button"><i class="fa-regular fa-pen-to-square"></i>Edit</button>
                    <button type="reset" id="cancelEdit">Cancel</button>
                </section>
                
            </form>
        </section>

        <section id="success-update-modal" class="modal">
            <section class="modal-content">
                <p></p>
            </section>
        </section>

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/9f6d244e8f.js" crossorigin="anonymous"></script>
    <!-- Connect main.js -->
    <script src="/main.js"></script>
</body>
</html>