@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    /* FONTS */
    --main-font: 'Poppins';

    /* COLORS */
    --main-blue: #0476af;
    --secondary-blue: #0d648f;
    --orange-yellow: #ffdc41;
    --red: rgb(232, 44, 44);
    
}

* {
    box-sizing: border-box;
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

i {
    cursor: pointer;
    font-size: 22px;
}

    .fa-plus {
        font: 8px;
    }

ul {
    list-style-type: none;
}

li {
    padding: 8px 0;
}

.main-container {
    margin: 0 auto;
    gap: 32px;
}

header {
    background-color: var(--main-blue);
    color: white;
    width: 100%;
    text-align: center;
    padding: 16px;
}

button{
    display: flex;
    gap: 8px;
    align-items: center;
    width: fit-content;
    font-size: 18px;
    padding: 4px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    /* padding-top: 64px; */
    padding: 64px 16px 0px 16px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: var(--main-blue);
    font-weight: bold;
}

.formContainer .required {
    color: rgb(215, 3, 3);
}


.addPatientForm {
    display: flex;
    flex-direction: column;
}

    .addPatientForm label {
        margin-top: 16px;
    }

    .addPatientForm input {
        width: 250px;
        display: block;
        border-radius: 4px;
        padding: 4px;
        font-size: 16px;
    }

    .addPatientForm button {
        margin-top: 32px;
    }

/* .patientListHeader {
    background-color: var(--main-blue);
    color: white;
    padding: 8px 0 8px 16px;
} */

.patientTable {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid rgb(200, 200, 200);
}

    .patientTable th {
        background-color: var(--main-blue);
        color: white;
    }

    .patientTable :is(td,th) {
        padding: 8px 16px;
    }

    .patientTable tr:nth-child(even){
        background-color: rgb(221, 231, 241);
    }

.patientInfo .actionButtons {
    display: flex;
    gap: 8px;
}

#updateButton {
    color: var(--secondary-blue);
}

#deleteButton {
    color: var(--red);
}